body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.product-title {
  font-size: 32px;
  margin-bottom: 8px;
}

.product-price {
  margin-bottom: 8px;
}

.product-description {
  margin-bottom: 8px;
}

.product-buy-button {
  background-color: #000;
  color: #fff;
  font-size: 18px;
  border: 0;
  padding: 8px;
  width: 100%;
}
